:root {
  --bg-color: rgb(20, 91, 184);
  --text-color: white;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  background-color: var(--bg-color);
  padding: 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

header h1 {
  color: var(--text-color);
  font-size: 1.5rem;
  margin: 0 1%;
}

header a {
  color: var(--text-color);
  text-decoration: none;

}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
}

main {
  display: flex;
  padding: 5% 10% 0 10%;
  flex-wrap: wrap;
}

.barralateral {
  height: 95vh;
  background-color: var(--bg-color);
  width: 3.5vw;
  display: flex;
  position: fixed;
  margin-top: 60px;

}

.barralateral ul {
  list-style: none;
}

.area-icones {
  display: block;
  width: 100%;
  height: 20%;
}

.icone {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icone img {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 10px;
}

.icone span {
  font-size: 14px;
}

.preto {
  background-color: black;
}

.login-container {
  background-color: rgb(20, 91, 184);
  border-radius: 14px;
  color: white;
  text-align: center;
  width: 35rem;
}

input {
  width: 30rem;
  padding: 9px;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
}

.input-box {
  margin-bottom: 25px;
}

.error-txt {
  position: absolute;
  font-size: 1rem;
  color: red;
  margin-left: 2rem;
  text-align: left;
  display: none;
}

.error-txt.error{
  display: block;
}

button {
  background-color: white;
  border: none;
  padding: 6px;
  font-size: 15px;
  border-radius: 10px;
  width: 31rem;
  color: blue;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
}


.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}

.logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.logo img {
  width: 30%;
}

.logo2 {
  width: 30%;
}

.logo2 img {
  width: 100%;
}

.logo3 {
  width: 30%;
}

.logo3 img {
  width: 100%;
}

.ai {
  text-decoration: none;
  color: black;
}

.sobre {
  display: flex;
  align-items: center;

}

.texto {
  width: 100%;
  margin-right: 5rem;
  font-size: 1.1rem;
}

.imagemSobre img {
  width: 100%;
}

.mapa {
  display: flex;
  width: 100%;
  justify-content: center;
}