:root {
  --bg-color: rgb(20, 91, 184);
  --text-color: white;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

header h1 {
  color: var(--text-color);
  font-size: 1.5rem;
}

header a {
  padding: 0.5rem 1rem;
  color: var(--text-color);
  text-decoration: none;
}

header img {
  width: 8rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
}

main {
  padding: 0 10rem;
  flex-wrap: wrap;
}

.main-padding {
  padding: 6rem 10rem 0 10rem;
}

.barralateral {
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  position: fixed;
  padding: 1rem;
  padding-top: 5rem;
}

.barralateral ul {
  list-style: none;
}

.area-icones {
  display: block;
  width: 100%;
  height: 20%;
}

.icone {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icone img {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 10px;
}

.icone span {
  font-size: 14px;
}

.preto {
  background-color: black;
}

.login-container {
  padding: 2rem 1rem;
  background-color: var(--bg-color);
  border-radius: 14px;
  color: white;
  text-align: center;
  width: 35rem;
}

.login-container input {
  width: 30rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  position: relative;
}

.login-container .input-box {
  margin: 25px;
}

button {
  background-color: var(--text-color);
  border: none;
  padding: 6px;
  font-size: 15px;
  border-radius: 10px;
  width: 31rem;
  color: var(--bg-color);
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: none;
}

.input-box-senha,
.input-box-perfil {
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.error-txt.senha,
.perfil-container .error-txt {
  margin: 0.2rem;
}

.perfil-container {
  padding: 2rem 1rem;
  background-color: var(--bg-color);
  border-radius: 14px;
  color: white;
  text-align: center;
  width: 35rem;
}

.perfil-container input {
  width: 25rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
}

.perfil-container .input-box {
  margin: 0, 0, 1rem, 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.perfil-container span {
  font-size: 1.2rem;
  width: 5rem;
  text-align: start;
}

.perfil-container button {
  margin-bottom: rem;
}

.perfil-container i,
.login-container i {
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  color: var(--bg-color);
}

.aviso-txt {
  color: red;
}

.sucess-txt {
  color: rgb(0, 255, 0);
}

.error-txt {
  position: absolute;
  font-size: 1rem;
  color: red;
  margin-left: 0.7rem;
  text-align: left;
  display: none;
}

.error-txt.error {
  display: block;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.logo img {
  width: 23rem;
}

.logo2 {
  width: 27rem;
}

.logo2 img {
  width: 27rem;
}

.logo3 {
  width: 27rem;
}

.logo3 img {
  width: 27rem;
}

.ai {
  text-decoration: none;
  color: black;
}

.sobre {
  display: flex;
  align-items: center;

}

.texto {
  width: 100%;
  margin-right: 5rem;
  font-size: 1.1rem;
}

.imagemSobre img {
  width: 100%;
}

.mapa {
  display: flex;
  width: 100%;
  justify-content: center;
}

.palestra {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 3rem;
}

.palestra:nth-child(1) {
  padding-top: 7rem;
}

.palestra-texto {
  position: absolute;
}

#nome-palestrante {
  position: absolute;
  display: flex;
  color: white;
  font-size: 2rem;
  top: 6.5rem;
  right: 13rem;
  width: 27rem;
  height: 7rem;
  align-items: center;
}

#curriculo-palestrante {
  position: absolute;
  top: 16rem;
  right: 3rem;
  width: 32rem;
  color: white;
  font-size: 1rem;
}

#titulo-palestra {
  position: absolute;
  top: 37rem;
  right: 8rem;
  width: 30rem;
  color: white;
  font-size: 1rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  text-align: center;
}

.palestra img {
  width: 42rem;
  margin: 5rem;
  pointer-events: none;
  user-select: none;
}

.palestrante {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bolhas {
  position: absolute;
  z-index: -1;
  width: 42rem;
  margin-top: 2.6rem;
}

#foto-palestrante {
  position: absolute;
}

#foto-palestrante img {
  width: 28rem;
  height: 28rem;
  margin-top: 5.5rem;
  margin-left: 7rem;
  border-radius: 100rem;
  object-fit: cover;
}

#moldura-palestrante {
  width: 31rem;
  margin-left: 7rem;
  margin-top: 4rem;
}

.button-palestra {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palestra button {
  background-color: #3E4EC1;
  color: var(--text-color);
  width: 16rem;
  height: 3rem;
  margin-top: 0rem;
}

.palestra .aviso-txt {
  color: black;
  font-size: 1.2rem;
}

.palestra .sucess-txt {
  color: green;
  font-size: 1.2rem;
}